/* reset + body adjust */
body {
    padding-top: 150px;
}

/* --------------------------------- */

/* slideshow adjustment */
.carousel-item {
    height: 400px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 30%;
}

.masonrygrid .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1.5rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow effect */
}

.masonrygrid .card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 
}

.masonrygrid .card-img-overlay {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.masonrygrid .card:hover .card-img-overlay {
    opacity: 1;
}

.masonrygrid .card:hover .card-img {
    transform: scale(1.05);
}

.masonrygrid .card:hover {
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow effect on hover */
}

.artistgallery {
    padding-bottom: 50px;
    background-image: url(/assets/images/container-bg.png);
    background-repeat: repeat;
    background-size: 35%;
}